

<div class="video-background">
    <div class="video-foreground">
		<iframe src="https://www.youtube.com/embed/_Po2CF-cL20?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

<!--<div id="vidtop-content">
<div class="vid-info">
	  <h1>YouTube Fullscreen Background Demo</h1>
	  <p>The International Space Station orbits the Earth every 92 minutes, with its crew seeing a sunrise 15 times a day. It exists as a scientific, educational, and engineering platform in low orbit, 330 to 435 kilometres above the Earth.
     <p>Original timelapse by Riccardo Rossi (ISAA), used under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License. Raw photos courtesy of http://eol.jsc.nasa.gov/
	 <a href="/500/Use-YouTube-Videos-as-Fullscreen-Web-Page-Backgrounds">Full article</a>
  </div>
</div>-->

<div style="color: white">


<h4 align="left" > Welcome to Developer's website </h4>

	
<p>

<pre>

A B.Tech(Distinction) holder in Computer Science, carrying 7 years of experience with Software/IT. Currently working with Capgemini and Morgan Stanley as a Tech. Consultant involved in multiple Java projects with Technologies like Big Data, ESB, cloud computing, Spring, multi-threaded programming, Machine Learning.

Highly skilled in solving Systems & Architectural problems and proposing solutions around scalability and performance. Well capable of overseeing the Technical as well as Functional aspects of a problem, thereby highly efficient in proposing feasible solutions to clients.

Self motivated to work on new projects based on latest technologies with high learning curve.

Specialties: Hands on consultation with Java, Andriod and AngularJS apps, performance assessment of Application and Automation of daily routine.

</pre>



</p>	

<p> connect with me at info@MohitRathod.com </p>

<p></p>

</div>
