
<h1 align="center" > Welcome to Developer's website </h1>
<hr>	
<p>

A B.Tech(Distinction) holder in Computer Science, carrying 7 years of experience with Software/IT. Currently working with Capgemini and Morgan Stanley as a Tech. Consultant involved in multiple Java projects with latest technologies like Big Data, ESB, cloud computing, Spring, multi-threaded programming, practical artificial intelligence.
<br/><br/>
Highly skilled in solving Systems & Architectural problems and proposing solutions around scalability and performance. Well capable of overseeing the Technical as well as Functional aspects of a problem, thereby highly efficient in proposing feasible solutions to clients.
<br/><br/>
Earned the reputation of “A client favourite” on several projects. Interested and successful working on several projects at the same time. Self motivated to work on new projects based on latest technologies with high learning curve.
<br/><br/>
Specialties: Hands on consultation with Java, Andriod and AngularJS apps. Also performance assessment of Application and Automation of daily routine.

</p>	

<p> connect with me at er.mohit.rathod {@} gmail.com </p>

<p></p>
