
<h1 align="center" > Welcome to Developer's website </h1>
<hr>	
<p>

<pre>

A B.Tech(Distinction) holder in Computer Science, carrying 7 years of experience with Software/IT. Currently working with Capgemini and Morgan Stanley as a Tech. Consultant involved in multiple Java projects with Technologies like Big Data, ESB, cloud computing, Spring, multi-threaded programming, Machine Learning.

Highly skilled in solving Systems & Architectural problems and proposing solutions around scalability and performance. Well capable of overseeing the Technical as well as Functional aspects of a problem, thereby highly efficient in proposing feasible solutions to clients.

Self motivated to work on new projects based on latest technologies with high learning curve.

Specialties: Hands on consultation with Java, Andriod and AngularJS apps, performance assessment of Application and Automation of daily routine.

</pre>



</p>	

<p> connect with me at m@MohitRathod.com </p>

<p></p>
