<h1 align="center" > ML Notes </h1>	

<h5 align="left"  > published on 26 Nov. 2016 </h5>

<hr>

</br>
</br>

<div id="Supervised and Unsupervised learning">


<h2 align="left" > Supervised and Unsupervised learning </h2>

</br>

<p>

1) What is the difference between supervised and unsupervised learning algorithms?



<pre>

	
</pre>

</p>

<hr style="border-top: 1px;" />


</div>


</br>

<p>

* Further Topics to cover  

<pre>

	Supervised and Unsupervised learning
	
	Machine learning concepts and techniques: 
		Regularization, 
		Boosting, 
		Random Forests, 
		Decision Trees, 
		Bayesian models, 
		Neural networks, 
		Support Vector Machines (SVM)
		
	Supervised and Unsupervised learning

	Apache Spark	
	
	Natural Language Processing (tokenization, tagging, sentiment analysis, entity recognition, summarization)
	
	R programming language 
	
	

</pre>

</p>

<hr style="border-top: 1px;" />