<h1 align="center" > Problem Practice </h1>	

<h5 align="left"  > published on 11 Oct. 2016 </h5>

<hr>

<h5 align="right"  >  code snippets can directly run at <a href="http://www.codechef.com/ide">codechef.com/ide</a></h5>

<p>
1) In a given word find the first un-repeated  letter, e.g., in ‘total’ its ‘o’ and in ‘ teeter’ its ‘r’.

<pre>

import java.util.LinkedHashMap;
import java.util.Map;
import java.util.Map.Entry;

/**
 * @author mohit
 * 
 * In a given word find the first un-repeated  letter, e.g., in ‘total’ its ‘o’ and in ‘ teeter’ its ‘r’.
 *
 */
public class FirstUnrepeatedLetter {

	
	public static void main(String[] args) {
		
		firstUnrepeatedLetter("total");
		
		firstUnrepeatedLetter("teeter");
		
	}
	
	
	public static void firstUnrepeatedLetter (String s1) {
		
		String input = s1;
		
		Map<Character, Boolean> charOccouranceMap = new LinkedHashMap<>();
		
		for(Character c : input.toCharArray()) {
			
			if(charOccouranceMap.containsKey(c)) {
				charOccouranceMap.put(c, true);
			}else {
				charOccouranceMap.put(c, false);
			}
			
		}
				
		for (Entry<Character, Boolean> entry : charOccouranceMap.entrySet()) {
			if(entry.getValue()) {
				continue;
			} else {
				System.out.println(entry.getKey());
				break;
			}
		}
		
	}
	
}

</pre>

<a href="https://raw.githubusercontent.com/mohitrathod/mohitrathod.github.io/master/templates/programming/FirstUnrepeatedLetter.java" > source file </a>

</p>

<hr style="border-top: 1px;" />

<p>

2) Reverse the LinkedList

<pre>

public class ReverseLinkedList {

	
	private static class SinglyLinkedList {
		
		Node head;
		
		
		
		// prints content of double linked list
	    void printList(Node node) {
	        while (node != null) {
	            System.out.print(node.data + " ");
	            node = node.next;
	        }
	    }
	    
	    
	    
	    Node reverseV2( Node node, Node previous) {
	    	
//	    	System.out.println(node.data + "->" + (previous == null ? "null" : previous.data) );
	    	
	    	if ( node.next != null) {
	    		
	    		Node next1 = node.next;
	    		
	    		node.next = previous;
	    		
	    		return reverseV2(next1, node);
	    		
	    	} else {
	    		
	    		node.next = previous;
	    		return node;
	    		
	    	}
			
	    	
	    }
		
	}
	
	
	private static class Node {
		
		int data;
		
		Node next;
		
		Node(int d) {
			data = d;
		}
		
	}
	
	
	public static void main(String[] args) {
		
		
		SinglyLinkedList list = new SinglyLinkedList();
        list.head = new Node(1);
        list.head.next = new Node(2);
        list.head.next.next = new Node(3);
        list.head.next.next.next = new Node(4);
         
        System.out.println("Original Linked list is :");
        list.printList(list.head);
        System.out.println("");
        list.head = list.reverseV2(list.head, null);
        System.out.println("");
        System.out.println("Reversed linked list : ");
        list.printList(list.head);
    }
	
}

</pre>

</p>

<hr style="border-top: 1px;" />


<p>

3) Shortest Path in Matrix Problem Java solution  
	
	
<pre>

import java.util.HashMap;
import java.util.HashSet;
import java.util.Map;
import java.util.Set;

public class ShortestPathMatrix {

	Set<MatrixElement> elements = new HashSet<>();
	
	Map<String, MatrixElement> locationMap = new HashMap<>();
	
	public void createMatrix () {
		
	  /*	1	2	3
		4	5	6	
		7	8	9
		10	11	13	*/


		String matrix = "(0,0)1 \n " +
				"(0,1)2 \n " +
				"(0,2)3 \n " +
				"(1,0)4 \n " +
				"(1,1)5 \n " +
				"(1,2)6 \n " +
				"(2,0)7 \n " +
				"(2,1)8 \n " +
				"(2,2)9 \n " +
				"(3,0)10 \n " +
				"(3,1)11 \n " +
				"(3,2)12 \n " +
				"(4,0)13 \n " +
				"(4,1)14 \n " +
				"(4,2)15 \n " ;
				
		int id = 0;
		for (String element : matrix.split("\\n")) {
			
			if(element.trim().length() > 0) {
			
				MatrixElement matrixElement = new MatrixElement();
				matrixElement.setId(id);
				matrixElement.setValue(element.split("\\)")[1]);
				matrixElement.setCordX(Integer.parseInt(element.split(",")[0].replace("(", "").trim()));
				matrixElement.setCordY(Integer.parseInt(element.split(",")[1].split("\\)")[0]));
				elements.add(matrixElement);
				locationMap.put(matrixElement.getCordX()+","+matrixElement.getCordY(), matrixElement);
				id++;
				
			}
			
			
			
		}
		
	}
	
	
	public static void main(String[] args) {
		
		ShortestPathMatrix matrix = new ShortestPathMatrix();
		
		matrix.createMatrix();
		
		matrix.findDistanceBetweenPoint("4,1", "0,0");
		
		
		
	}


	private void findDistanceBetweenPoint(String string, String string2) {
		
		MatrixElement a = locationMap.get(string);
		MatrixElement b = locationMap.get(string2);
		
		int x, y;
		
		x = a.getCordX();
		y = a.getCordY();
		
		
		locateTheItem(x, y, b);
		
	}
	
	private void locateTheItem(int x, int y, MatrixElement b) {
		
		System.out.println(x + " , " + y);
		
		int nextX = x;
		int nextY = y; 
		
		boolean locateAgain = false;
		
		if(b.getCordX() > x) {
			nextX = x + 1;	
			locateAgain = true;
		} 
		
		if (b.getCordY() > y ) {
			nextY = y + 1;	
			locateAgain = true;
		}
		
		if(b.getCordX() < x) {
			nextX = x - 1;	
			locateAgain = true;
		} 
		
		if (b.getCordY() < y ) {
			nextY = y - 1;	
			locateAgain = true;
		}
		
		
		if(locateAgain) {
			locateTheItem(nextX, nextY, b);
		} else {
			
			System.out.println("traced !");
			
		}
		
		
	}

	public class MatrixElement {

		private int id;
		private String value;
		
		private MatrixElement left;
		private MatrixElement right;
		private MatrixElement top;
		private MatrixElement bottom;
		
		private int cordX;
		private int cordY;
		
		
		public MatrixElement getLeft() {
			return left;
		}
		public void setLeft(MatrixElement left) {
			this.left = left;
		}
		public MatrixElement getRight() {
			return right;
		}
		public void setRight(MatrixElement right) {
			this.right = right;
		}
		public MatrixElement getTop() {
			return top;
		}
		public void setTop(MatrixElement top) {
			this.top = top;
		}
		public MatrixElement getBottom() {
			return bottom;
		}
		public void setBottom(MatrixElement bottom) {
			this.bottom = bottom;
		}
		public int getId() {
			return id;
		}
		public void setId(int id) {
			this.id = id;
		}
		public String getValue() {
			return value;
		}
		public void setValue(String value) {
			this.value = value;
		}
		public int getCordX() {
			return cordX;
		}
		public void setCordX(int cordX) {
			this.cordX = cordX;
		}
		public int getCordY() {
			return cordY;
		}
		public void setCordY(int cordY) {
			this.cordY = cordY;
		}
		
		
		
	}
	
	
}

</pre>
	
<a href="https://raw.githubusercontent.com/mohitrathod/mohitrathod.github.io/master/templates/programming/ShortestPathMatrix.java">source code</a>	
	
</p>	

<hr style="border-top: 1px;" />

<p>

4) Union Of Two Sorted Array problem 

<pre>

import java.util.Arrays;

public class UnionOfTwoSortedArray {
	
	public static void main(String[] args) {
		
		int [] arr1 = {1,3,4,5,7};
		int [] arr2 = {2,3,5,6};
		
		int i = arr1.length;
		int j = arr2.length;
		
		int [] unionArray = new int [i + j];
		
		int x = 0;
		int y = 0;
		
		int g = 0;
		
		while (x < i && y < j) {
			
			
			if (arr1[x] < arr2[y]) {
				
				unionArray[g] = arr1[x];
				g++;
				x++;
				/*unionArray[g] = arr2[y];
				g++;*/
				
			} else if (arr1[x] > arr2[y]) {
				
				unionArray[g] = arr2[y];
				g++;
				y++;
				/*unionArray[g] = arr1[x];
				g++;*/
				
			} else if (arr1[x] == arr2[y]) {
				
				unionArray[g] = arr1[x];
				x++;
				y++;
				g++;
			}
			
		}
		
		while(x < i)
		unionArray[g++] = arr1[x++];
		while(y < j)
		unionArray[g++] = arr1[y++];
		
		
		System.out.println(Arrays.toString(unionArray));
		
	}

}

</pre>

<a href="https://raw.githubusercontent.com/mohitrathod/mohitrathod.github.io/master/templates/programming/UnionOfTwoSortedArray.java">source code</a>	

</p>

<hr style="border-top: 1px;" />


<pre>

<a name="ransomNote" href="#ransomNote" > Untraceable ransom note </a>

A kidnapper wrote a ransom note but is worried it will be traced back to him. He found a magazine and wants to know if he can cut out whole words from it and use them to create an untraceable replica of his ransom note. The words in his note are case-sensitive and he must use whole words available in the magazine, meaning he cannot use substrings or concatenation to create the words he needs.
Given the words in the magazine and the words in the ransom note, print Yes if he can replicate his ransom note exactly using whole words from the magazine; otherwise, print No.


	def ransom_note(magazine, ransom):
		 return not (Counter(rasom) - Counter(magazine))

	m, n = map(int, input().strip().split(' '))
	magazine = input().strip().split(' ')
	ransom = input().strip().split(' ')
	answer = ransom_note(magazine, ransom)
	if(answer):
	    print("Yes")
	else:
	    print("No")

<hr style="border-top: 1px;" />


Program to print column names of excel eg. a, b ... ab, ac ... az, ba ... azz, caa


	val = chr (ord('a') - 1)

	def incrementString (str1) :
	    arr = list(str1)
	    arr.reverse()

	    if ord(arr[0])-ord('a')+1 == 26:
		arr[0] = 'a'
		if str1[:-1] is not '':
		    str1 = incrementString(str1[:-1])
		else :
		    str1 = 'a'
		str1 = str1 + ''.join(arr[0])
	    else:
		arr[0] = chr(ord(arr[0]) + 1)
		str1 = str1[:-1] + ''.join(arr[0])

	    return str1

	while True :
	    val = incrementString(val)
	    print(val)

<hr style="border-top: 1px;" />

</pre>
