

<h1 align="center" > Python Notes </h1>	

<h5 align="left"  > published on 11 Oct. 2016 </h5>

<hr>

<h5 align="right"  >  code snippets can directly run at <a href="http://www.codechef.com/ide">codechef.com/ide</a> with Python-3.4</h5>

<p>
1) Return multiple values from a function in Python Example 

<pre>
def f(in_str):
    out_str = in_str.upper()
    return True, out_str # Creates tuple automatically

succeeded, b = f("a") # Automatic tuple unpacking

print ("var1" , succeeded , " var2" , str(b))

</pre>

</p>

<hr style="border-top: 1px;" />

<p>
2)  Loop Statement Example 

<pre>

print("-----")
print("for loop example ")

for letter in 'Python':     # First Example
   print ('Current Letter :', letter)

fruits = ['banana', 'apple',  'mango']
for fruit in fruits:        # Second Example
   print ('Current fruit :', fruit)

#Output :

#print ("Good bye!")

#Current Letter : P
#Current Letter : y
#Current Letter : t
#Current Letter : h
#Current Letter : o
#Current Letter : n
#Current fruit : banana
#Current fruit : apple
#Current fruit : mango
#Good bye!

print("-----")
print("Iterating by Sequence Index")

fruits = ['banana', 'apple',  'mango']
for index in range(len(fruits)):
   print ('Current fruit :', fruits[index])
   
#Output :

#Current fruit : banana
#Current fruit : apple
#Current fruit : mango   

print("-----")
print("Using else Statement with Loops")

for num in range(10,20):  #to iterate between 10 to 20
   for i in range(2,num): #to iterate on the factors of the number
      if num%i == 0:      #to determine the first factor
         j=num/i          #to calculate the second factor
         print ('%d equals %d * %d' % (num,i,j))
         break #to move to the next number, the #first FOR
   else:                  # else part of the loop
      print (num, 'is a prime number')
	  
#Output :

#10 equals 2 * 5
#11 is a prime number
#12 equals 2 * 6
#13 is a prime number
#14 equals 2 * 7
#15 equals 3 * 5
#16 equals 2 * 8
#17 is a prime number
#18 equals 2 * 9
#19 is a prime number  

</pre>

</p>


<p>

<hr style="border-top: 1px;" />

3)  Multiline comment Example

<pre>

'''
This is a multi line
comment.
You can use triple-quoted strings. When they're not a docstring (first thing in a class/function/module), they are ignored.
''' 

print("program starts after comments")

</pre>


</p>

<hr style="border-top: 1px;" />

<p>

4) how to swap variables in python ?

<pre>

Python evaluates expressions from left to right. Notice that while evaluating an assignment, the right-hand side is evaluated before the left-hand side.

	http://docs.python.org/2/reference/expressions.html#evaluation-order

That means to swap values from a to b and viceversa the following expression is correct 

	a,b = b,a : 

</pre>

</p>
<hr style="border-top: 1px;" />


<p>

5) Python Utilities that can be used to make everyday life easy
	
<pre>

print("Day_Over_Day_Rate_Adjustment".lower())

</pre>
	
	
	
</p>	

<hr style="border-top: 1px;" />

<p>

6) is Python pass by value or pass by reference ?
	
</br>
You can not pass a simple primitive by reference in Python, but you can do things like:	
	
<pre>

def foo(y):
  y[0] = y[0]**2

x = [5]
foo(x)
print x[0]

</pre>
	
That is a weird way to go about it, however. Note that in Python, you can also return more than one value, making some of the use cases for pass by reference less important:
</br>

<pre>

def foo(x, y):
   return x**2, y**2

a = 1
b = 2
a, b = foo(a, b)

</pre>
	
	
When you return values like that, they are being returned as a Tuple which is in turn unpacked.

</br>
Another way to think about this is that, while you can't explicitly pass variables by reference in Python, you can modify the properties of objects that were passed in. In my example (and others) you can modify members of the list that was passed in. You would not, however, be able to reassign the passed in variable entirely. For instance, see the following two pieces of code look like they might do something similar, but end up with different results:	

<pre>

def clear_a(x):
  x = []

def clear_b(x):
  while x: x.pop()

z = [1,2,3]
clear_a(z) # z will not be changed
clear_b(z) # z will be emptied

</pre>
	
</p>	

<hr style="border-top: 1px;" />

<pre>

<a name="simpleHttpServerPython" href="#/pythonBlog#simpleHttpServerPython" >Start simple http server with python</a>

If you need a quick web server running and you don't want to mess with setting up apache or something similar, then Python can help. Python comes with a simple builtin HTTP server. With the help of this little HTTP server you can turn any directory in your system into your web server directory. The only thing you need to have installed is Python.Practically speaking this is very useful to share files inside your local network. Implementing this tiny but hugely useful HTTP server is very simple, its just a single line command.
Assume that I would like to share the directory /home/newProject and my IP address is 192.168.1.2
Open up a terminal and type:	


	$ cd /home/newProject
	$ python -m SimpleHTTPServer
	
	# for python 3 it is
	$ python -m http.server
	
That's it! Now your http server will start in port 8000. You will get the message:
	
	Serving HTTP on 0.0.0.0 port 8000 ...

Now open a browser and type the following address:

	http://127.0.0.1:8000 or http://localhost:8000
	
If the directory has a file named index.html, that file will be served as the initial file. If there is no index.html, then the files in the directory will be listed.

If you wish to change the port that's used start the program via:

	$ python -m SimpleHTTPServer 8080
	
</pre>
	


<hr style="border-top: 1px;" />


<pre>
8) Given an array arr[] of n integers, construct a Product Array prod[] (of same size) such that prod[i] is equal to the product of all the elements of arr[] except arr[i].
	
	
	print ('-- product array puzzle --')

	arr = [10, 3, 5, 6, 2]
	prod = []

	product = 1

	for data in arr:
	    product = product * data

	for data in arr:
	    prod.append((product / data))

	print (prod)
 
 
<hr style="border-top: 1px;" />

9) reverse the array 

	Sample Input

	4
	1 4 3 2
	Sample Output

	2 3 4 1
	
	#!/bin/python3

	import sys


	n = int(input().strip())
	arr = [int(arr_temp) for arr_temp in input().strip().split(' ')]

	import re

	arr.reverse()
	print (re.sub(",|\[|\]", "", str(arr)))

<hr style="border-top: 1px;" />

"""
 Get Node data of the Nth Node from the end.
 head could be None as well for empty list
 Node is defined as
""" 
class Node(object):
 
    def __init__(self, data=None, next_node=None):
       self.data = data
       self.next = next_node

'''return back the node data of the linked list in the below method.'''


def GetNode(head, position):
    
    if head is None or position is None:
        return
    
    pointer = head
    arr = []
    while pointer is not None and pointer.data is not None:
        #print (pointer.data) 
        arr.append(pointer.data)
        if pointer.next is not None:
            pointer = pointer.next
        else :
            pointer = None
    
    arr.append(None)
    
    arr.reverse()
     
    if (len (arr) > position):
        print (arr [position])


n5 = Node ()
n4 = Node (4, n5)
n3 = Node (3, n4)
n2 = Node (2, n3)
n1 = Node (1, n2)

GetNode(n1, 1)

# output 4


<hr style="border-top: 1px;" />

<a name="writeDataAsJson" href="#/pythonBlog#writeDataAsJson" >Write data to file on disk in json format </a>

import json

a = {'hello': 'world'}
b = 'mohit'

with open('C:\\Users\\mohit\\temp\\filename.json', 'wt') as handle:
    json.dump(a, handle)

<hr style="border-top: 1px;" />

</pre>


<hr style="border-top: 1px;" />

<a name="mapReduceAndLambda" href="#/pythonBlog#mapReduceAndLambda" >Map Reduce And Lambda example</a>

def varToSqFeet(var):
    return var*9
x = list(map(varToSqFeet, [100]))
print(x)

varToSqFeetLamda = lambda var : 9*var
print (varToSqFeetLamda(100))

from functools import reduce
f = lambda a,b: a if (a>b) else b
print(reduce(f, [47,11,42,102,13]))
# output: 102

<hr style="border-top: 1px;" />

</pre>
