<h1 align="center" > Design Stuff </h1>	

<h5 align="left"  > last updated at 15 June 2017 </h5>


<hr>

</br>
<p>

<pre>

<a name="SOLIDPrinciple" href="#/softwareArchitecture#SOLIDPrinciple" >SOLID Principle for Object Oriented Design</a>

SOLID Principle help you to not write frigile, regid and unresuable code

S	SRP		Single responsibility principle
			a class should have only a single responsibility (i.e. only one potential change in the software's specification should be able to affect the specification of the class)
			
O	OCP		Open/closed principle
			“software entities … should be open for extension, but closed for modification.”

L	LSP		Liskov substitution principle
			“objects in a program should be replaceable with instances of their subtypes without altering the correctness of that program.” See also design by contract.
			
I	ISP		Interface segregation principle
			“many client-specific interfaces are better than one general-purpose interface.”
			
D	DIP	 	Dependency inversion principle one should “depend upon abstractions, [not] concretions.”


<hr style="border-top: 1px;" />

<pre>


