<h1 align="center" > SQL Notes </h1>	

<h5 align="left"  > last updated at 12 May. 2017 </h5>


<hr>

</br>
<p>

1) Optimized Java Sql Insert or Update statments 

<pre>

private static final String INSERT_UPDATE_TABLE = "INSERT INTO "
  + TableName.TABLE_NAME
  + " (" + TableName.LINE_ID
  + " ," + TableName.PERIOD
  + " ," + TableName.CALLS
  + " ," + TableName.ANSWERED
  + " ," + TableName.UNANSWERED
  + " ," + TableName.UNIQUE
  + " ," + TableName.CUSTOMER_ID + ") VALUES "
  + "({0},{1},{2},{3},{4},{5},{6}) ON DUPLICATE KEY UPDATE "
  + TableName.CALLS + "=" + TableName.CALLS + "+{2}, "
  + TableName.ANSWERED + "=" + TableName.ANSWERED + "+{3}, "
  + TableName.UNANSWERED + "=" + TableName.UNANSWERED + "+{4} ";



and then

Object[] args = {"'"+lineNumber+"'",period+"",(ansCalls + unAnsCalls)+"",ansCalls+"",unAnsCalls+"",0};

linesMeteredLineCalls.add(MessageFormat.format(INSERT_UPDATE_TABLE, args));





</pre>

</p>

<hr style="border-top: 1px;" />

<pre>

<a name="sqlInternalJoinFindManagerResources" href="#/sqlBlog#sqlInternalJoinFindManagerResources" >Given table employee with employee id, name and manager_id, find the managers and how much employee he/she is managing with sql query. </a>

create table employee (emp_id int, emp_name varchar(225), mrg_id int);

insert into employee values (1, "A", null)
insert into employee values (2, "B", null)
insert into employee values (3, "C", null);
insert into employee values (4, "D", null);
insert into employee values (5, "E", null);
insert into employee values (6, "F", 13);
insert into employee values (7, "G", 13);
insert into employee values (8, "H", 13);
insert into employee values (9, "I", null);
insert into employee values (10, "J", 1);
insert into employee values (11, "K", 1);
insert into employee values (12, "L", 3);
insert into employee values (13, "M", 14);
insert into employee values (14, "N", null);
insert into employee values (15, "O", 14);
insert into employee values (16, "P", 16);

select e.emp_name, (select count(*) from employee where mrg_id = e.emp_id) as emp_manage from employee e where e.emp_id in (select emp.mrg_id from employee emp where emp.mrg_id is not null group by mrg_id);

<hr style="border-top: 1px;" />


</pre>
