<h1 align="center" > SQL Notes </h1>	

<h5 align="left"  > last updated at 12 May. 2017 </h5>


<hr>

</br>
<p>

<pre>

<a name="optimizedJavaSqlInsertOrUpdateStatments" href="#/sqlBlog#optimizedJavaSqlInsertOrUpdateStatments" >Optimized Java Sql Insert or Update statments </a>

private static final String INSERT_UPDATE_TABLE = "INSERT INTO "
  + TableName.TABLE_NAME
  + " (" + TableName.LINE_ID
  + " ," + TableName.PERIOD
  + " ," + TableName.CALLS
  + " ," + TableName.ANSWERED
  + " ," + TableName.UNANSWERED
  + " ," + TableName.UNIQUE
  + " ," + TableName.CUSTOMER_ID + ") VALUES "
  + "({0},{1},{2},{3},{4},{5},{6}) ON DUPLICATE KEY UPDATE "
  + TableName.CALLS + "=" + TableName.CALLS + "+{2}, "
  + TableName.ANSWERED + "=" + TableName.ANSWERED + "+{3}, "
  + TableName.UNANSWERED + "=" + TableName.UNANSWERED + "+{4} ";



and then

Object[] args = {"'"+lineNumber+"'",period+"",(ansCalls + unAnsCalls)+"",ansCalls+"",unAnsCalls+"",0};

linesMeteredLineCalls.add(MessageFormat.format(INSERT_UPDATE_TABLE, args));





</pre>

</p>

<hr style="border-top: 1px;" />

<pre>

<a name="sqlInternalJoinFindManagerResources" href="#/sqlBlog#sqlInternalJoinFindManagerResources" >Given table employee with employee id, name and manager_id, find the managers and how much employee he/she is managing with sql query. </a>

create table employee (emp_id int, emp_name varchar(225), mrg_id int);

insert into employee values (1, "A", null)
insert into employee values (2, "B", null)
insert into employee values (3, "C", null);
insert into employee values (4, "D", null);
insert into employee values (5, "E", null);
insert into employee values (6, "F", 13);
insert into employee values (7, "G", 13);
insert into employee values (8, "H", 13);
insert into employee values (9, "I", null);
insert into employee values (10, "J", 1);
insert into employee values (11, "K", 1);
insert into employee values (12, "L", 3);
insert into employee values (13, "M", 14);
insert into employee values (14, "N", null);
insert into employee values (15, "O", 14);
insert into employee values (16, "P", 16);

select e.emp_name, (select count(*) from employee where mrg_id = e.emp_id) as emp_manage from employee e where e.emp_id in (select emp.mrg_id from employee emp where emp.mrg_id is not null group by mrg_id);

<hr style="border-top: 1px;" />

How many columns is too many columns?

I've noticed that a lot of folks here cite tables with 20+ (I've seen as much as 55) columns in one table. Now I don't pretend to be a database design expert, but I've always heard that this is a horrible practice. When I see this, I usually suggest splitting into two tables with a one to one relationship: one containing the most frequently used data, the other with the least often used data. Though at the same time, there's the possible issue of performance (less JOINs and such). So my question is this:
When it comes to really LARGE scale databases, is there actually an advantage to having a large amount of columns, despite the fact that this usually leads to many NULL values?
Which is more of a performance hit: lots of columns with lots of NULLs, or fewer columns with lots of JOINs?




The design of the table depends on the entity it needs to store. If all the data belongs together, then 50 columns (or even 100) might be the correct thing to do.
So long as the table is normalized, there is no rule of thumb regarding size, apart from database capabilities and the need to optimize.



It's considered too many once it's above the maximum limit supported by the database.
The fact that you don't need every column to be returned by every query is perfectly normal; that's why SELECT statement lets you explicitly name the columns you need.
As a general rule, your table structure should reflect your domain model; if you really do have 70 (100, what have you) attributes that belong to the same entity there's no reason to separate them into multiple tables.

MySQL has hard limit of 4096 columns per table, but the effective maximum may be less for a given table. The exact column limit depends on several factors.








</pre>
