

<h1 align="center" > Navigations to Blog </h1>	

<h5 align="left"  > last updated on 11 Oct. 2016 by Mohit Rathod </h5>

<hr>

<div>

<p>
<a href="/blog/python">Python Notes</a>
</p>

<p>
<a href="#problemPractice">Problem Practice</a>
</p>  
  
<p>
<a href="#javaBlog">Java Blog</a>
</p>

<p>
<a href="#sqlBlog">SQL Blog</a>
</p>

<p>
<a href="#utilities">Utilities</a>
</p>
  
<p>
<a href="#machineLearning">Machine Learning</a>
</p>

<p>
<a href="#softwareArchitecture"> Software Architecture</a>
</p>
  
<!--<div>
<img style= "max-width: 100%; height: auto; width: auto\9;" ng-src="templates/blog/a-night-on-a-bridge3.jpg"></img>
</div> -->
 
