table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: center;
    padding: 8px;
}

td {
    text-align: left;
    padding: 8px;
}


tr:nth-child(even){background-color: #f2f2f2}

pre {font-family: Inconsolata}

.code_container {
    width: 1000px;
    border: 1px dotted black;
    padding: 2em;
}





