@font-face {
  font-family: "menlo regular webfont";
  src: local("menlo regular webfont"), local("menlo-regular-webfont"), url("/font/menlo-regular-webfont.woff2") format("woff2");
  font-style: normal;

}


h1 {
  font-family: 'menlo regular webfont', Inconsolata;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: center;
    padding: 8px;
}

td {
    text-align: left;
    padding: 8px;
}


tr:nth-child(even){background-color: #f2f2f2}

pre {
  font-family: 'menlo regular webfont', Inconsolata;
  white-space: pre-wrap;
  font-size: 0.9em;
}


pre code {
    font-family: 'menlo regular webfont', Inconsolata;
    color: #106cc8;
    font-size: 0.9em;
}

/* top menu starts */

div.scrollmenu {
    background-color: #f3f3f3;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover:not(.active) {
    background-color: #ddd;
}

div.scrollmenu a.active {
    color: white;
    background-color: #4CAF50;
}

div.scrollmenu a:hover {
    /* background-color: #777; */
}

/* top menu ends */

/* side menu floating starts */

.dropbtn {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding-right : 1%;
    padding-bottom : 1%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding-right : 1%;
    padding-bottom : 4%;
}

.dropdown-content a {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {

}



/* side menu floating ends */
