

<h1 align="center" > Artificial Intelligence </h1>	

<h5 align="left"  > published on 11 Oct. 2016 by Mohit Rathod </h5>

<hr>

<div>

<p>
Since the invention of computers or machines, their capability to perform various tasks went on growing exponentially. Humans have developed the power of computer systems in terms of their diverse working domains, their increasing speed, and reducing size with respect to time.
A branch of Computer Science named Artificial Intelligence pursues creating the computers or machines as intelligent as human beings.
</p>

<p>
<b>What is Artificial Intelligence?</b>
<br>
According to the father of Artificial Intelligence, John McCarthy, it is “The science and engineering of making intelligent machines, especially intelligent computer programs”.

Artificial Intelligence is a way of making a computer, a computer-controlled robot, or a software think intelligently, in the similar manner the intelligent humans think.
<br>

AI is accomplished by studying how human brain thinks, and how humans learn, decide, and work while trying to solve a problem, and then using the outcomes of this study as a basis of developing intelligent software and systems.
</p>

<p>
<b>Philosophy of AI</b>
<br>
While exploiting the power of the computer systems, the curiosity of human, lead him to wonder, “Can a machine think and behave like humans do?”

Thus, the development of AI started with the intention of creating similar intelligence in machines that we find and regard high in humans.
</p>

<p>
<b>
Goals of AI
</b>
<br>
To Create Expert Systems − The systems which exhibit intelligent behavior, learn, demonstrate, explain, and advice its users.
<br>
To Implement Human Intelligence in Machines − Creating systems that understand, think, learn, and behave like humans.
</p>

<p>

<b>What Contributes to AI?
</b>
<br>
<p>Artificial intelligence is a science and technology based on disciplines such as Computer Science, Biology, Psychology, Linguistics, Mathematics, and Engineering. A major thrust of AI is in the development of computer functions associated with human intelligence, such as reasoning, learning, and problem solving.
</p>

</p>



<p>

<b>Programming Without and With AI</b>
<br>
The programming without and with AI is different in following ways −
<br>
<table>
<tbody><tr>
<th style="width:50%;">Programming Without AI</th>
<th>Programming With AI</th>
</tr>
<tr>
<td>A computer program without AI can answer the <b>specific</b> questions it is meant to solve.</td>
<td>A computer program with AI can answer the <b>generic</b> questions it is meant to solve.</td>
</tr>
<tr>
<td>Modification in the program leads to change in its structure.</td>
<td>AI programs can absorb new modifications by putting highly independent pieces of information together. Hence you can modify even a minute piece of information of program without affecting its structure.</td>
</tr>
<tr>
<td>Modification is not quick and easy. It may lead to affecting the program adversely.</td>
<td>Quick and Easy program modification.</td>
</tr>
</tbody></table>

</p>


</div>


